.container {
  display: flex;
  flex-direction: column;
  width: var(--directory-width);
}

.header {
  padding: var(--spacing-large);
}

.header > h3 {
  margin-bottom: var(--spacing-tiny);
  font-size: var(--font-large);
}

.header > p {
  color: var(--on-surface-gray);
  font-style: bold;
  font-size: var(--font-normal);
}

.file {
  position: relative;
  color: var(--on-surface-gray);
  border-top: 1px solid var(--on-background);
  padding: var(--spacing-tiny) var(--spacing-large);
  cursor: pointer;
}

.file[data-active="true"] {
  background-color: var(--on-background);
  color: var(--on-surface);
}

.file:hover {
  background-color: var(--primary);
  color: var(--on-surface);
}

.file:last-of-type {
  border-bottom: 1px solid var(--on-background);
}

.ellipsis {
  display: flex;
  position: relative;
  overflow: hidden;
}

.ellipsis > p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis::after {
  content: attr(data-filetype);
  z-index: 1;
}

.file > span {
  display: block;
  position: absolute;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  right: var(--spacing-tiny);
}