.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small);
  padding-bottom: 0;
  background-color: var(--background-gray);
  border-right: 2px solid var(--on-background);
  transition: all .3s;
}