.container {
  display: flex;
  background-color: var(--background);
}

.container > h2 {
  margin: 0;
  padding: var(--spacing-normal);
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-large);
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  line-height: 18px;
  color: var(--on-surface)
}