.container {
  padding: var(--spacing-large);
  color: var(--on-surface-gray);
  cursor: pointer;
}

.container:hover {
  color: var(--on-surface);
}

.container[data-disabled="true"] {
  color: var(--on-background);
  cursor: default;
}