:root {
  --primary: #3D4BCC;
  --primary-variant: #4150D9;
  --background: #15161C;
  --background-gray: #262833;
  --on-background: #4E4F59;
  --on-surface: #FFFFFF;
  --on-surface-gray: #BFBFBF;

  --font-large: 14px;

  --spacing-small: 8px;
  --spacing-normal: 14px;
  --spacing-large: 18px;

  --menu-width: 140px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--on-surface);
}